.attribution { font-size: 11px; text-align: center; margin-top: .8rem;}
.attribution a { color: hsl(228, 45%, 44%); }

/* Josh Comeau's CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* ---------------------------------------------------------------- */

:root {
    /* Font variables */
    --ff-work-sans: 'Work Sans', sans-serif;
    --fs-16: 16px;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    /* Color variables */
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-pink: hsl(275, 100%, 97%);
    --clr-grayish-purple: hsl(292, 16%, 49%);
    --clr-dark-purple: hsl(292, 42%, 14%);
}

body {
    font-family: var(--ff-work-sans);
    font-size: var(--fs-16);
    color: var(--clr-dark-purple);
    background-color: var(--clr-light-pink);

    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1.5rem;
}

hr {
	border: 1px solid var(--clr-light-pink);
	opacity: 75%;
}

.container {   
    display: grid;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--clr-white);
    max-width: 525px;
    border-radius: .5rem;
}

.faq__title-section {
	display: flex;
	gap: 1.25rem;
	align-items: center;
}

.faq__title-section svg {
	width: 1.5rem;
}

.faq__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq__question {
    font-size: 1rem;
}

.faq__section > svg {
	width: 2rem;
	flex: 0 0 auto;
}

.faq__answer {
    font-size: .9rem;
    color: var(--clr-grayish-purple);
}